@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500&family=Proza+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,700;1,400;1,600;1,700&display=swap');
*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
#ServicioCard{
    max-width: 600px !important;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 100px !important;
}
.CardHeader{
    min-width: 250px !important;
    background-color: white;
    
}
.ServiceCol{
    max-width: 600px !important;
    min-width: 200px;
    margin-bottom: 10px;
    height: auto;
}
.ServiciosTitulo{
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
    color: white !important;
}
.backg{
    overflow: hidden;
    overflow-y: auto;
    height: 600px;
    background-color: 272934  !important;
    background-repeat: no-repeat;
}
.CartasGrupo{
    overflow: hidden;
    margin-bottom: 10px !important;
    margin-top: 5%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
}
.animationCommand{
    overflow: hidden;
    margin-bottom: 10px !important;
    margin-top: 5%;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
}
#imagecommand{
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 900px) {
    
    .imagecommandwrapper{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #imagecommand{
        width: 50% !important;
        height: 50% !important;
    }
  }
  @media only screen and (max-width: 400px) {
    .hideanimation{
        display: none !important;
    }
    .imagecommandwrapper{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #imagecommand{
        width: 80% !important;
        height: 80% !important;
    }
    .serviciotitle{
        font-family: 'Poppins', sans-serif !important;
        font-style: italic;
        font-weight: bold;
        color: white !important;
        font-size: smaller;
        margin-left: 4px;
    }
    .serviciodesc{
        font-family: 'Poppins', sans-serif !important;
        font-style: italic;
        font-weight:400;
        color: white !important;
        font-size: small;
        margin-left: 4px;
    }
  }
  .imagecommandwrapper{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.serviciotitle{
    font-family: 'Poppins', sans-serif !important;
    font-style: italic;
    font-weight: bold;
    color: white !important;
}
.serviciodesc{
    font-family: 'Poppins', sans-serif !important;
    font-style: italic;
    font-weight:400;
    color: white !important;
}
#ServiciosPage{
    background-color: black !important;
}
.serviceone{
    width: 30px;
}
.servicetwo{
    width: 30px;
}
.servicethree{
    width: 30px;
}
.servicefour{
    width: 30px;
}
.wrapper{
    height: 600px;
}