@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500&display=swap');

#navbarid{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    background-color: black !important;
}
.logonavbar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
#menuitem{
    color: white !important;
}
.kiuviname{
    margin-top: 10px;
    font-family: 'Expletus Sans', cursive;
    color: rgb(255, 255, 255);
}
.BotonContacto{
border-color: #4FEAA9;
color: white;
background-color: #4FEAA9;
margin-left: 10px;
margin-right: 10px;
}

#responsive-navbar-nav{
    background-color: black;
}
#botonlogo{
    border-color: transparent;
}
.margenleftmenu{
    margin-left: 10px;
}